.status {
  margin-right: 10px;
  width: 27px;
  height: 26px;
  border-radius: 10%;
  /*text-shadow: 1px 1px 4px rgb(228,228,228);*/
}

.open {
  color: var(--bs-red);
  background-color: rgba(231,74,59,0.05);
}

.solved {
  color: var(--bs-green);
  background-color: rgba(28,200,138,0.05);
}

.pending {
  color: var(--bs-info);
  background-color: rgba(54,185,204,0.05);
}

.closed {
  background-color: rgba(133,135,150,0.05);
}

.new {
  color: var(--bs-yellow);
  background-color: rgba(246,194,62,0.05);
}

.ticket-details {
  border-right: 2px black;
  padding-bottom: 3%;
}

#ticket-details-col {
  /*height: 100%;*/
  font-size: 22px;
}

#ticket-view-status {
  background-color: rgba(231,74,59,0.1);
  color: var(--bs-red);
  padding-left: 35px;
  padding-right: 35px;
  margin-right: 3%;
  padding-top: .2%;
  padding-bottom: .2%;
  border-radius: 7%;
  font-size: 2vw;
  position: relative;
}

h1 {
  font-size: 3vw;
}

#ticket-id-display {
  font-size: 1.2vw;
}

h4 {
  font-size: 1.2vw;
}

#comment-heading {
  margin-top: 3%;
}

.time-container {
  margin: .1vw;
  font-size: 1vw;
  top: 50%;
}

.page-title {
  margin-top: 1%;
  padding-bottom: 1%;
}

.topbar.static-top {
  padding: 1%;
}

.comment-body {
  margin-left: 2%;
}

.card {
  /*height: 100%;*/
  /*padding-bottom: 2%;*/
}

