.status {
  margin-right: 10px;
  width: 27px;
  height: 26px;
  border-radius: 10%;
  /*text-shadow: 1px 1px 4px rgb(228,228,228);*/
}

.open {
  color: var(--bs-red);
  background-color: rgba(231,74,59,0.05);
}

.solved {
  color: var(--bs-green);
  background-color: rgba(28,200,138,0.05);
}

.pending {
  color: var(--bs-info);
  background-color: rgba(54,185,204,0.05);
}

.closed {
  background-color: rgba(133,135,150,0.05);
}

.new {
  color: var(--bs-yellow);
  background-color: rgba(246,194,62,0.05);
}

#ticket-details-col {
  /*height: 100%;*/
  font-size: 22px;
}

#ticket-view-status {
  background-color: rgba(231,74,59,0.1);
  color: var(--bs-red);
  padding-left: 35px;
  padding-right: 35px;
  margin-right: 3%;
  padding-top: .2%;
  padding-bottom: .2%;
  border-radius: 7%;
  font-size: 2vw;
  position: relative;
}

h1 {
  font-size: 3vw;
}

#ticket-id-display {
  font-size: 1.2vw;
}

h4 {
  font-size: 1.2vw;
}

#comment-heading {
  margin-top: 3%;
}

.time-container {
  margin: .1vw;
  font-size: 1vw;
  top: 50%;
}

.page-title {
  margin-top: 1%;
  padding-bottom: 1%;
}

.topbar.static-top {
  padding: 1%;
}

.card {
  /*height: 100%;*/
  /*padding-bottom: 2%;*/
}

#modal-diag {
  /* position: fixed; */
  margin: auto;
  /*margin-top: 5%;*/
  /*margin-bottom: 5%;*/
  /* right: 0px; */
  height: 100%;
  /*max-height: 100%;*/
}

#modal-b {
  /*height: 70%;*/
  /*margin: auto;*/
  /*width: 80vw;*/
  overflow-y: auto;
  /*max-height: 60vw;*/
}

#ticket-modal {
  /*height: 100%;*/
  /*position: fixed;*/
  /*width: 100%;*/
  /*max-height: 50%;*/
  /*overflow-y: auto;*/
}

.comment-body {
  padding-left: 1%;
  border-left: 2px solid rgb(62,140,228);
}

.comment-hr {
  max-width: 80%;
}

.comment {
  margin-bottom: 2%;
}

#ticket-body-organizer {
  /*max-height: 10%;*/
  /*height: 100%;*/
  margin-bottom: 3%;
}

.ticket-details {
  border-left: 2px black;
  height: 100%;
  /*padding-bottom: 3%;*/
}

#comment-organizer {
  overflow-y: auto;
  margin-bottom: 3%;
  /*padding-bottom: 3%;*/
  max-height: 50vh;
}

.ticket-details p {
  margin: 0px;
  margin-bottom: 1%;
  padding: 0px;
}

#meta-col {
  background-color: rgba(249,249,249,0.45);
  border: 1px solid #0077ff;
  border-radius: 1%;
  padding: 1%;
  margin-right: 2%;
  margin-left: 2%;
}

#description {
  border: 2px solid rgba(0,0,0,0.32);
  padding: 2%;
  border-radius: 1%;
  overflow-y: auto;
  max-height: 240px;
}

#priority {
  margin-left: 5%;
  border: 1px solid var(--bs-info);
  padding-left: 1%;
  padding-right: 1%;
  font-size: larger;
}

